@font-face {
  font-family: "robo-italic";
  src: url(./fonts/Roboto-BlackItalic.ttf);
}
@font-face {
  font-family: "robo-bold";
  src: url(./fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "sans-medium";
  src: url(./fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: "robotic-bold";
  src: url(./fonts/OpenSans-Regular.ttf);
}
.nav-header{
  font-family: robo-italic;
}

h1 {
    color:white;
    /* margin-left: 3px;
    margin-right: 3px; */
    
    padding: 0px;
    margin-top: 10px;
    /* font-family: "Oswald", Helvetica; */
}
.nav-list {
  color: white;
  font-family: robo-bold;
}
html {
  min-height: 100vh;
}
.card-body {
  padding: 2px;
  font-family: sans-bold;
  /* background: radial-gradient(#101011, #66666d); */

}
.card-body-profplanet{
  background: radial-gradient(#4f11a1, #101011);
}
.card-body-got{
  /* background: radial-gradient(#101011, #1179a1); */
  background: radial-gradient(#1179a1, #101011);
}
.card-body-ironman{
  /* background: radial-gradient(#101011, #801e0d); */
  background: radial-gradient(#801e0d, #101011);
}
.card-body-bottomnav{
  background: radial-gradient(#413f44, #101011);
}
.form-style{
  background: radial-gradient(#413f44, #101011);
}
.form-control{
  background: radial-gradient(#413f44, #101011);
}
.form-inp-style{
  background-color: #413f44;
}
.contact-form{
  padding: 25px;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
}
.contact-input{
  color: white;
}
.card{
  margin: 5px;
}
body{
  color: white;
  font-family: sans-bold;
  margin: 0;
  background: radial-gradient(#6eb4ee, #2e3dc5);
}
  p1 {
      color: rgb(165, 163, 163);
      font-size: large;
      margin-bottom: 20px;
  }
  h2 {
    padding-top: 20px;

  }
  .about-image{
    width: 50%;
  }
  .about-card {
    background: radial-gradient(#413f44, #101011);
    color: rgb(192, 190, 190);
    margin-top: 25px;
  }

  .navbar {
    margin-top: 0px !important;
    padding: 0px !important;
    border-right-color: white;
    background: radial-gradient(#413f44, #101011);
  }
  .page-title{
    /* border-bottom-style: dotted 2px; */
    border-bottom: white 2px dotted;
    color:  white;
    font-family: robo-bold;
    margin-left: 0;
    margin-right: 0;
  }
  
  .borderOutline {
    border-color: white;
    border-width: 1px;
  }

  @media (max-width: 768px) {
    .navbar-nav {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
      text-align: center;
    }
  }
  /* .navbar-padding {
    padding: 10px 15px 10px 15px;
  } */ 

.portfolio-header {
  color: white;
  padding-left: 10px;


  margin-left: 30px;
  margin-right: 30px;
  /* background-color: lightgray; */

}

.container1  {
  /* margin-top: 100px !important;
  padding: 0px !important;
  border-right-color: white; */
}

.h2classaboutme {
  color: black;
}

.navcontainerlist {

  border-left: solid rgb(50, 65, 71) 3px;
  padding-right: 10px;
  padding-left: 10px
}